.footer {
    padding-top: 20px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    height: 40px;
    margin-top: 5px;
    font-family: Century Gothic, sans-serif;
}

.footerTab {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.footerTab:hover {
    text-decoration: underline;
}